@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "sohne";
  font-style: normal;
  src: local("sohne"),
    url(/assets/styles/fonts/Sohne-Kraftig.woff) format("woff");
}

:root {
  font-family: sohne, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #ff0000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --app-height: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  min-height: 100vh;
}

.rectangle {
  height: 100vh;
  width: 100vw;

  background: rgba(0, 0, 0, 0.8);

  filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  -moz-filter: blur(4px);
  -webkit-filter: blur(4px);
}

<<<<<<< Updated upstream
/* Bouton bord arrondi*/
#evaluate {
  border-radius: 100px;
  background: #2e3129;
  width: 200px;
  height: 50px;
  right: 2%;
  bottom: 2%;
  position: absolute;
  font-size: 1.5em;
  text-align: center;
  color: rgb(232, 142, 38);
}

=======
>>>>>>> Stashed changes
.imageMove {
  transform: translateY(-50%);
}

.textMove {
  transform: translateY(25%);
}

#TITRE {
  position: absolute;
  font-size: 1.5em;
  text-align: center;
  top: 40%;
  left: 25%;
  right: 25%;
  color: rgba(255, 255, 255);
  z-index: calc(1);
}

#target {
<<<<<<< Updated upstream
  position: absolute;
  font-size: 10px;
  text-align: center;
  top: 50%;
  left: 25%;
  right: 25%;
  color: rgba(255, 255, 255);
  z-index: calc(1);
  transform: translateY(25%);
=======
  position: relative;
  font-size: 1em;
  text-align: left;

  min-width: 100vw;
  background-color: white;

  padding: 1rem;
  /* left: 25%;
  right: 25%; */
  color: rgb(0, 0, 0);
  z-index: calc(1);
  /* transform: translateY(25%); */
>>>>>>> Stashed changes
}

video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
  position: fixed;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

#flash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  opacity: 0;
  z-index: 9999;
  transition: opacity 0.5s;
}
