@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "sohne";
  font-style: normal;
  src: local("sohne"),
    url(/assets/styles/fonts/Sohne-Kraftig.woff) format("woff");
} */

@font-face {
  font-family: "CreatoDisplay";
  src: url(/assets/styles/fonts/CreatoDisplay-Regular.otf) format("otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CreatoDisplay";
  src: url(/assets/styles/fonts/CreatoDisplay-Bold.otf) format("otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "CreatoDisplay";
  src: url(/assets/styles/fonts/CreatoDisplay-Medium.otf) format("otf");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "CreatoDisplay";
  src: url(/assets/styles/fonts/CreatoDisplay-ExtraBold.otf) format("otf");
  font-weight: bolder;
  font-style: normal;
}

:root {
  font-family: CreatoDisplay, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: normal;
  hyphens: auto;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --app-height: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  /* height: 100vh;
  overflow: hidden; */
}

.rectangle {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.8);

  filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  -moz-filter: blur(4px);
  -webkit-filter: blur(4px);
}

#value-artwork {
  font-size: 3.5em;
  padding-right: 5px;
  text-align: center;
  font-weight: bold;
  /* margin-top: 10px; */
  margin-bottom: 35px;
  /* text-decoration: underline overline black; */
  border-top: 5px solid black;

  border-bottom: 5px solid black;
}

#detail-artwork {
  font-size: 1.1em;
  line-height: 1.2em;
  font-weight: medium;
  padding-bottom: 35px;

  /* padding-right: 100px; */
}

/* Bouton bord arrondi*/
#evaluate,
#share {
  /* border-radius: 100px;
  background: #000000;
  width: 150px;
  height: 50px;
  right: 25%;
  left: 25%;
  bottom: 50px;
  position: absolute;
  font-size: 1.5em;
  line-height: 1.5em;

  text-align: center;
  color: rgb(255, 255, 255);
  border: 5px solid;
 
  justify-content: center;
  margin: 0 auto;
  z-index: 100; */

  padding: 0.5rem 2rem;
  font-size: 1.5em;
  margin: 0 auto;
  line-height: 1.5em;
  text-align: center;
  color: rgb(255, 255, 255);
  border-radius: 100px;
  background: #000000;
  cursor: pointer;
  width: fit-content;
}

#imageCopy {
  /* background-image: url("assets/copy.png"); */
}

#TITRE1 {
  position: absolute;
  line-height: 1.17em;

  font-size: 2.6em;
  text-align: left;
  top: 5%;
  left: 10%;
  right: 25%;
  color: rgba(255, 255, 255);
  z-index: calc(2);
  font-weight: bold;
  width: 17rem;
}

#fin {
  position: absolute;
  line-height: 1.17em;

  font-size: 2.6em;
  text-align: left;
  top: 5%;
  left: 10%;
  right: 25%;
  color: rgba(255, 255, 255);
  z-index: calc(2);
  font-weight: bold;
}
#TITRE2 {
  position: absolute;

  font-size: 1.2em;
  text-align: center;
  bottom: 10%;
  left: 25%;
  right: 25%;
  color: rgba(255, 255, 255);
  z-index: calc(2);
  font-weight: medium;
}
/* 
#TITRE {
  position: relative;
  font-size: 1.5em;
  text-align: center;
  top: 40%;
  left: 25%;
  right: 25%;
  color: rgba(255, 255, 255);
  z-index: calc(1);
} */

#title-artwork {
  font-size: 3.5em;
  word-wrap: break-word;

  line-height: 1em;
  font-weight: bold;
  padding-bottom: 15px;
  border-bottom: 5px solid black;
}

#description-artwork {
  font-size: 1.5em;
  line-height: 1.2em;
  font-weight: medium;
  padding-right: 10px;
  padding-top: 15px;

  /* padding-bottom: 30px; */
}

#target {
  position: relative;
  font-size: 1em;
  text-align: left;
  min-width: 100vw;
  background-color: white;
  padding: 1rem;
  /* left: 25%;
  right: 25%; */
  color: rgb(0, 0, 0);
  z-index: calc(1);
  /* transform: translateY(25%); */
  padding-bottom: 3rem;
}

video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
  /* position: fixed; */
  top: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

#flash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  opacity: 0;
  z-index: 9999;
  transition: opacity 0.5s;
}

#video-container {
  height: 100vh;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

#video-container video,
#video-container #description {
  flex-grow: 1;
}

#fondNoir {
  background-color: #000000;
}

.imageMove video {
  margin: 0 auto;
  height: 70%;
  /* width: 75%; */
  /* padding: 2rem; */
  color: black;
}

.imageMove #description {
  /* height: 10%; */
  overflow: scroll;
}

.imagePrint video {
  width: 100%;
  /* padding: 2rem; */
  /* margin-left: 0; */
  height: 15%;
  border: #000000;
}

.opacity-container {
  position: absolute;
  height: 100vh;
  top: 0;
  height: 100svh;
  width: 100vw;
  pointer-events: none;
  display: flex;
  align-items: flex-end;
  z-index: 10000;
}

.opacity-scroll {
  width: 100vw;
  height: 3rem;
  background: linear-gradient(transparent, white);
}

#background2 {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.8);

  filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  -moz-filter: blur(4px);
  -webkit-filter: blur(4px);
}
