@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "sohne";
  font-style: normal;
  src: local("sohne"),
    url(/assets/styles/fonts/Sohne-Kraftig.woff) format("woff");
} */

@font-face {
  font-family: "telegraf";
  font-style: regular;
  src: local("telegraf"),
    url(/assets/styles/fonts/Telegraf-Regular.otf) format("otf");
}

:root {
  font-family: telegraf, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --app-height: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  /* height: 100vh;
  overflow: hidden; */
}

.rectangle {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.8);

  filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  -moz-filter: blur(4px);
  -webkit-filter: blur(4px);
}

.imageMove {
  transform: translateY(-50%);
}

.textMove {
  transform: translateY(25%);
}

#TITRE1 {
  position: absolute;
  line-height: 1.2em;

  font-size: 3em;
  text-align: left;
  top: 5%;
  left: 10%;
  right: 25%;
  color: rgba(255, 255, 255);
  z-index: calc(2);
}

#TITRE2 {
  position: absolute;

  font-size: 0.9em;
  text-align: center;
  bottom: 20%;
  left: 25%;
  right: 25%;
  color: rgba(255, 255, 255);
  z-index: calc(2);
}
/* 
#TITRE {
  position: relative;
  font-size: 1.5em;
  text-align: center;
  top: 40%;
  left: 25%;
  right: 25%;
  color: rgba(255, 255, 255);
  z-index: calc(1);
} */

#title-artwork {
  font-size: 1.7em;
  line-height: 1em;
}

#target {
  position: relative;
  font-size: 1em;
  text-align: left;
  margin-top: 100vh;
  margin-top: 100svh;
  min-width: 100vw;
  background-color: white;
  padding: 1rem;
  /* left: 25%;
  right: 25%; */
  color: rgb(0, 0, 0);
  z-index: calc(1);
  /* transform: translateY(25%); */
}

video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
  position: fixed;
  top: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

#flash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  opacity: 0;
  z-index: 9999;
  transition: opacity 0.5s;
}
